@media screen and (min-width: 768px) {
    .container {
      max-width: 766px;
    }
    .header-contacts {
        font-size: 12px;
        line-height: 16px;
    
      }
      .additional-nav ul > li:not(:last-child) {
        padding-bottom: 4px;;
      }
      .header-link.active {
        color: var(--Pressed-state-color);
      }
      .logo-first {
        margin-right: 120px;
      }
      .additional-nav ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 118px;
      }
      .menu-hamburger-btn {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    .hero-main {
        padding-bottom: 108px;
        padding-top: 112px;
        background-size: 768px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/mobile-background.jpg);
    }
    .advantages-icon-box {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
      .advantages-descr {
        width: 356px;
        height: 120px;
        flex-wrap: wrap;
      }

      /* .advantages ul > li {
        width: 356px;
      } */
/*       
      .advantages ul > li:not(:last-child),
      .advantages ul > li:not(:second-child) {
        margin-right: var(--second-margin);
      } */
      /* .advantages ul > li:first-child {
        margin-right: var(--second-margin);
      } */
      .advantages ul > li:nth-child(2n)  {
        margin-left: var(--second-margin);
      }
      .advantages {
        margin-top: 96px;
        margin-bottom: 96px;
      }

      .advantages ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
      }
      
      .advantages-hover {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-transform: capitalize;
        color: var(--Dark-color);
      }



      
      .advantages-text {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24 / 16);
        letter-spacing: 0.02em;
        color: var(--Text-color);
      }
    .hero-hover {
        margin-bottom: 40px;
        /* font-size: 56px;
        line-height: calc(60 / 56); */
        /* margin-bottom: 48px; */

      }

     
      /* Body Medium */

        
    .our-team {
        padding-top: 96px;
        padding-bottom: 104px;
    }

    .team-item {
        width: 264px;
    }

    .team-member-list {
        row-gap: 64px;
      }
      .our-jobs {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
      .customer-list {
        max-width: 552px;
        row-gap: 72px;
        margin-right: auto;
        margin-left: auto;
      }
      .customers-title {
        padding-top: 96px;
          }
          .costumer {
            text-align: center;
          }

    }
    @media screen and (min-width: 768px), (max-width: 1199px) {

    }
@media screen and (max-width: 1199px) {

}





  @media screen and (min-width: 768px), (max-width: 1199) {

    .container-sm {
        max-width: 582px;
    }
    
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
        margin: 0 auto;
    }

    .footer-list {
        flex-wrap: wrap;
        row-gap: 72px;
        width: 552px;
      }

      
      .footer-list-item:first-child {
        margin-right: 24px;
      }
      
      .footer-list-item {
        margin-right: 0px;
      }
      
      .footer-list-item:last-child {
        margin-right: 0px;
      }

      .footer-form-group {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
  }

  